@model BIDVSmartContent.Models.Home.HomeViewModel
<title>@Model.TitleMain</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Hãy lựa chọn Hệ điều hành tương ứng với điện thoại của bạn để tải ứng dụng BIDV Smart Banking và trải nghiệm các tiện ích ngân hàng hiện đại mọi lúc, mọi nơi." />
<meta name="keywords" content="Mobile banking, bidv,Smart Banking, bank, mobile, banking">
<meta name="author" content="www.bidvsmartbanking.vn">