@model string

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li> <i class="default-icon fa fa-home home-icon"></i> <a href="@Url.Action("Index","Home")">Home</a> </li>
        <li class="active">@Model</li>
    </ul>
    <!-- /.breadcrumb -->
</div>
