@using  BIDVSmartContent.Models.FunctionModel

@{
    ViewBag.Title = "Category Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var f = FunctionIdConstant.FuncNewId;
    var c = FunctionIdConstant.FuncCategroyList;
    var userName = User.Identity.Name;
}
@{
    Html.RenderPartial("_NavigationTitleLink", "Category List");
}
<div class="page-content">
    <div class="page-content-area">
        @{
            Html.RenderPartial("_HeaderPage", new[] { "Category Manager", "Category List" });
        }
        <div class="row" ng-app="systemSearchApp">
            <div class="col-xs-12" ng-controller="categoryController">
                <form class="form-horizontal row clearfix" role="form">
                    <div class="col-sm-5">
                        <div class="form-group clearfix">
                            <label class="col-sm-5 control-label no-padding-right p_top"> Status: </label>
                            <div class="col-sm-7">
                                @Html.DropDownList("status", new SelectList(new Dictionary<string, string>()
                                {
                                    {"1", "Active"},{"0","Inactive"}
                                }, "Key", "Value"), "-- All --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="clearfix form-actions center">
                        <a class="btn btn-primary" href="" ng-click="configSearch()">Search</a>
                        <a href="@Url.Action("Create", "Category", new { f = FunctionIdConstant.FuncNewId, c = FunctionIdConstant.FuncCategroyCreateId})" id="btn-create" class="btn btn-warning">Add new</a>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="table_list_wrapper" class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_length">
                                        <label>
                                            Display
                                            <select ng-model="PerPageItems" ng-init="PerPageItems='10'">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> Records
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_filter">
                                        <label>
                                            Search:
                                            <input type="text" class="form-control input-sm" placeholder="search" ng-model="search" ng-change="filter()">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblUser">
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                         <th>
                                            Type
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    <tr ng-show="filteredItems > 0" ng-repeat="item in filtered = (datas |filter :search) | PageStart:(currentPage-1)*PerPageItems | limitTo:PerPageItems">

                                        <td style="width: 50px">
                                            {{item.ID}}
                                        </td>
                                        <td  style="width: 100px">
                                            {{item.TITLE}}
                                        </td>
                                        <td ng-bind-html=" item.DESC  | filterHtmlDecode"></td> 
                                        <td  style="width: 50px">
                                            {{item.TYPE}}
                                        </td>
                                        <td  style="width: 100px">
                                            <span ng-if="item.STATUS == true" class="label label-sm label-success">Acitve</span>
                                            <span ng-if="item.STATUS == false" class="label label-danger label-sm">Inactive</span>
                                        </td>
                                        <td style="width: 150px">
                                            <a title="Edit" class="blue" ng-href="~/Category/Edit/{{item.ID}}?f=@f&c=@c"> <i class="default-icon fa fa-pencil bigger-150"></i></a>&nbsp;

                                            <a ng-if="item.STATUS == false" title="Change Status" ng-click="changeStatus(item)" class="blue" href=""> <i class="ic_default ic_unlock"></i></a>
                                            <a ng-if="item.STATUS == true" title="Change Status" ng-click="changeStatus(item)" class="red" href=""> <i class="ic_default ic_lock"></i></a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-show="filteredItems <= 0" colspan="6" style="text-align: center">
                                            "No search results found"
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="filteredItems > 0">
                                <pagination num-pages="numberPages" total-items="filteredItems" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-model="currentPage" items-per-page="PerPageItems"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/system-search.js")"></script>
}

